<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="MessageMapper">
  	<sql id="search">
 		<trim prefix="where" prefixOverrides="and || or">
 		<if test="search == ''">
 			recvId=#{recvId} and sendId like '%' || #{find} || '%'
 		</if>
 		<if test="search == 'sendId'">
 			recvId=#{recvId} and sendId like '%' || #{find} || '%'
 		</if>
 		<if test="search == 'contents'">
 			recvId=#{recvId} and contents like '%' || #{find} || '%'
 		</if>
 		</trim>
 	</sql>
	
	<select id="count" resultType="java.lang.Integer" parameterType="com.fn.util.ListInfo">
		select count(nvl(megnum, 0)) from message 
		<include refid="search"></include>	
	</select>
	
 	<select id="list" resultType="MessageDTO" parameterType="com.fn.util.ListInfo">
 		select * from 
 		(select rownum R, m.* from
 		(select * from MESSAGE 
 		<include refid="search" ></include>
 		  order by megnum desc) m)
 		where R between #{startRow} and #{lastRow}
 	</select>
 	
 	<select id="view" resultType="MessageDTO" parameterType="java.lang.Integer">
 		select * from message where megnum = #{megNum}
 	</select>
 	
 	<insert id="write1" parameterType="MessageDTO">
 		insert into message
 		values (meg_seq.nextval, #{sendId}, #{contents}, #{recvId}, #{mgCheck}, sysdate, 1)
 	</insert>
	
	<update id="update" parameterType="MessageDTO">
		update message set MGCHECK = MGCHECK+1 where recvId= #{recvId}
	</update>
	
	<update id="update1" parameterType="MessageDTO">
		update message set MGCHECK = MGCHECK+1 where recvId= #{sendId}
	</update>
	
	<update id="mgUpdate" parameterType="MessageDTO">
		update message set MGCHECK = MGCHECK-1 where recvId= #{sendId}
	</update>
	
	<update id="mgUpdate2" parameterType="MessageDTO">
		update message set rCHECK = 0 where megnum= #{megNum}
	</update>
	
	 <select id="view2" resultType="MessageDTO">
 		select * from message 
		where megnum = (select max(megnum) from message)
 	</select>
 	
 	 <select id="view3" parameterType="MessageDTO" resultType="java.lang.Integer">
 		select DISTINCT mgcheck from message 
		where recvid = #{recvId}
 	</select>
	
	 <insert id="write2" parameterType="MessageDTO">
 		insert into sendmessage
 		values (#{megNum}, #{sendId}, #{contents}, #{sendDate}, #{recvId})
 	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete message where megnum=#{megNum}
	</delete> 		
	
	<select id="listDel1" parameterType="MessageDTO" resultType="java.lang.Integer">
		select count(rcheck) from message where recvid=#{recvId} and rcheck = 1	
	</select>
	
	<update id="listDel2" parameterType="MessageDTO">
		update message set mgcheck = mgcheck-#{decrenum} where recvid=#{recvId}
	</update>
	
	<select id="listDel3" parameterType="MessageDTO" resultType="java.lang.Integer">
		select DISTINCT mgcheck from message where recvid=#{recvId}
	</select>
 </mapper> 
