<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="WeatherMapper">	
  	<select id="list" resultType="com.fn.weather.WeatherDTO" parameterType="com.fn.weather.WeatherDTO">
  		<choose>
  			<when test="gu != null and gu != ''">
  				select distinct dong from weather where si = #{si} and gu = #{gu} order by dong asc
  			</when>
  			<when test="si != null and si != ''">
  				select distinct gu from weather where si = #{si} order by gu asc
  			</when>
  			<otherwise>
  				select distinct si from weather order by si asc
  			</otherwise>
  		</choose>
  	</select>

  	<select id="grid" resultType="com.fn.weather.WeatherDTO" parameterType="com.fn.weather.WeatherDTO">
  		<choose>
  			<when test="dong != '동/읍/면'">
  				select gridx, gridy from weather where si = #{si} and gu = #{gu} and dong = #{dong}
  			</when>
  			<when test="gu != '시/군/구'">
  				select gridx, gridy from weather where si = #{si} and gu = #{gu} and dong is null
  			</when>
  			<when test="si != '시/도'">
  				select gridx, gridy from weather where si = #{si} and gu is null and dong is null
  			</when>
  		</choose>
  	</select>
  </mapper>