<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
	<configuration>
  		<typeAliases>
  			<typeAlias type="com.fn.member.MemberDTO" alias="MemberDTO" />
  			<typeAlias type="com.fn.member.client.ClientDTO" alias="ClientDTO" />
  			<typeAlias type="com.fn.member.manager.ManagerDTO" alias="ManagerDTO" />
  			<typeAlias type="com.fn.message.MessageDTO" alias="MessageDTO"/>
  			<typeAlias type="com.fn.message.SendMessageDTO" alias="SendMessageDTO"/>
  		</typeAliases>
	</configuration>


